<div id="bienvenida-contenedor" class="d-flex justify-content-center align-items-center">
    <div class="d-flex flex-column align-items-center text-white p-3 fondo-oscuro" style="max-width: 400px; width: 80%;">
        <h1 class="text-center">¡Gracias por registrarse!</h1>
        <p class="mt-3 text-center">
            Antes de poder iniciar sesión, todos los instructores deben ser habilitados dentro del
            sistema por un administrador.
        </p>
        <p class="text-center">
            Le solicitamos que se comunique con el Centro para ser dado de alta y empezar a trabajar.
        </p>
        <button class="btn btn-secondary mt-4" routerLink="/login" style="width: 100%;">Ir al Login</button>
    </div>
</div>
