.contenedor-menor {
    margin-bottom: 2rem; // Ajusta el margen inferior según tus necesidades
    background-color: #333; // Cambia el color de fondo según tus preferencias
    padding: 1rem;
  }
  
  highcharts-chart {
    width: 100%;
    height: 300px; // Ajusta la altura del gráfico según tus necesidades
    display: block;
  }
  
  @media (max-width: 768px) {
    highcharts-chart {
      height: 200px; // Reduzca la altura del gráfico para pantallas más pequeñas
    }
  }
  